washington.csv
new_york_city.csv
/Users/brittanysalas/Udacity Course - BikeShare/City Data/chicago.csv /Users/brittanysalas/Udacity Course - BikeShare/City Data/new_york_city.csv /Users/brittanysalas/Udacity Course - BikeShare/City Data/washington.csv
